body {
    font-family: 'PT Sans', sans-serif;
    font-size:12px;
    margin-top: 54px;
}

a, a:active, a:hover, a:focus {
    outline: none !important;
}

#container {
    position: relative;
    height: 100%;
}
#container #content > .container {
    position: relative;
    width: 100%;
}
#content {
    background: #fff;
    margin-left: 230px;
    overflow: visible;
    padding-bottom: 30px;
    min-height: 100%;
}
#sidebar {
    width: 230px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #f9f9f9;
    height: 100%;
    z-index: 700;
}
.navbar {
    background: #c21212;
    min-height: 48px;
    filter: none;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom: 4px solid #690707;
}

    .navbar .navbar-brand {
        padding: 0;
        line-height: 38px;
        color: #fff;
        text-shadow: 0 1px 0 #000;
        font-size: 18px;
        width: 230px;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
        padding-left: 0;
        max-width: none;
        margin-left: 0 !important;
        margin-right: 0;
        padding: 10px 0;
    }

        .navbar .navbar-brand .navbar-logo {
            display: block;
            text-decoration:none;
            color:#FFF;
            
        }
        .navbar .navbar-brand .navbar-logo:hover{
            text-decoration:none;
        }

        .navbar .navbar-brand .title-proyect{
           
            font-family: Arial, Helvetica, sans-serif;
            font-size:20px;
        }

.navbar > .container {
    padding-left: 20px;
    padding-right: 20px;
    width: auto !important;
}

.navbar .nav > li:first-child {
    border-left: 1px solid rgba(0,0,0,0.21);
}

.navbar .nav > li {
    line-height: 28px;
    border-right: 1px solid rgba(0,0,0,0.2);
}

    .navbar .nav > li:active, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle, .navbar .toggle-sidebar:active {
        color: #fff;
        background: #cb1313;
    }

    .navbar .nav > li > a, .navbar .nav > li > a:active {
        color: #fff;
        font-size: 14px;
        text-shadow: 0 1px 0 #000;
        padding: 15px 18px;
    }

        .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
            color: #fff;
            background: #de2b2b;
            background: rgba(255, 255, 255, .1);
        }

        .navbar .nav > li > a .badge {
            position: absolute;
            font-size: 10px;
            font-weight: 300;
            top: 8px;
            right: 8px;
            text-align: center;
            height: 14px;
            background-color: #750909;
            background-color: rgba(8, 8, 8, 0.2);
            padding: 2px 4px;
            text-shadow: none;
        }


.navbar .dropdown-menu {
    margin-top: 3px !important;
    position: absolute !important;
    float: left !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border: 1px solid rgba(0, 0, 0, .15) !important;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175) !important;
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175) !important;
    right: 0;
    left: auto;
}

.dropdown-menu {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .07);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .07);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .07);
    font-size: 13px;
    text-align: left;
}

.fa-fw{
    margin-right:10px;
}

#sidebar-content {
    display:block;
    background:#fbfbfb;
    height:100%;
}


ul.sidebar-menu, ul.sidebar-menu .sub-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background-color:#f3f3f3;
}
ul.sidebar-menu ul.sub-menu
{
    padding-left:10px;
    background-color:#fbfbfb;
    width:auto;
    
}
ul.sidebar-menu > li
{
        border-bottom:1px solid rgba(0, 0, 0, 0.07);
        -webkit-box-shadow:0 1px 0 0 #fbf8f8 inset;
        -moz-box-shadow:0 1px 0px 0px #fbf8f8 inset;
        box-shadow:0 1px 0 0 #fbf8f8 inset;
}
ul.sidebar-menu > li:first-child{
    border-top:1px solid rgba(0, 0, 0, 0.07);
}
    ul.sidebar-menu > li > a {
        padding: 12px 15px;
        text-decoration: none;
        display: block;
        text-shadow: 0 1px 0 #fff;
        font-size: 1.0em;
        -moz-transition: border-left .3s ease;
        -o-transition: border-left .3s ease;
        -webkit-transition: border-left .3s ease;
        transition: border-left .3s ease;
        color: #444;
    }
    ul.sidebar-menu > li > a:hover {
        border-left:4px solid #c21212;
        background:#efefef;
    }
    ul.sidebar-menu > li ul.sub-menu > li >a:hover {
        border-left:4px solid #c21212;
        background:#f9f9f9;
    }



     ul.sub-menu > li{
        border-top:1px solid rgba(0, 0, 0, 0.07);
    }
     ul.sub-menu > li:first-child{
        border-top:none;
    }
     ul.sub-menu > li > a{
        padding: 10px 10px;
        display:block;
        font-size: .9em;
        text-decoration:none;
        -moz-transition: border-left .3s ease;
        -o-transition: border-left .3s ease;
        -webkit-transition: border-left .3s ease;
        transition: border-left .3s ease;
    }

.info-user{
    overflow:hidden;
    display:block;
    margin-bottom:15px;
}
.img-user {
    float:left;
    padding:10px;
}

.info-user-data{
    padding:10px;
    display:block;
    line-height:13px;
    padding-top:15px;
}

.info-user-data > .nom-user{
    padding-top:5px;
    font-size:12px;
}

.info-user-data > .cargo-user{
    font-size:11px;
    padding:0;
}
.info-user-data > .area-user{
    font-size:10px;
    font-weight:bold;
    padding:0;
}

.bottom-15
{
    padding-bottom:15px;
}

.datepicker
{
    background-image: url(../Images/calendar-icons.png) !important;
    background-repeat: no-repeat;
    background-position: right center;
}

.ui-datepicker { /*no width*/ padding: .2em .2em 0; }
.ui-datepicker table
{
    width: 100%;
    font-size:.9em;
    border-collapse: collapse;
    margin: 0 0 .3em;
}

.ui-datepicker td span, .ui-datepicker td a {
display: block;
padding: .2em .2em;
text-align: right;
text-decoration: none;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 6px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff !important;
    background-image: none;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 3px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 0px rgba(102, 175, 233, .6);
}
.label-control
{
    line-height:25px;
}

.cuadro-container
        {
            background:#fdfdfd;
            margin-bottom:25px;
            border:1px solid #b0b0b0;
            border-radius:3px;
            -moz-box-shadow: 0px 0px 0px 0px rgba(23, 3, 3, 0.1);
           -webkit-box-shadow: 0px 0px 0px 0px rgba(23, 3, 3, 0.1);
        }
            .cuadro-container .cuadro-heading
            {
                background: #f5f5f5;
                border-bottom:1px solid #ccc;
                margin:0px;
                padding:0px;
                display:block;
                overflow:hidden;
                padding:10px 20px;
                background-image: -moz-linear-gradient(90deg, #f1f3f8 0%, #e8e8e8 100%); /* ff3.6+ */
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f3f8), color-stop(100%, #fafbfc)); /* safari4+,chrome */
                background-image: -webkit-linear-gradient(90deg, #f1f3f8 0%, #fafbfc 100%); /* safari5.1+,chrome10+ */
                background-image: -o-linear-gradient(90deg, #f1f3f8 0%, #fafbfc 100%); /* opera 11.10+ */
                background-image: -ms-linear-gradient(90deg, #f1f3f8 0%, #fafbfc 100%); /* ie10+ */
                background-image: linear-gradient(0, #f1f3f8 0%, #fafbfc 100%); /* w3c */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f3f8', endColorstr='#fafbfc',GradientType=0 ); /* ie6-9 */
            }
                .cuadro-container .cuadro-heading .cuadro-title
                {
                    font-size:12px;
                    margin:0;
                    padding:0;
                    font-weight:bold;
                }
                 .cuadro-container .contain-data-pasajero
                {
                    border-top:1px dotted #ccc;
                    border-bottom:1px dotted #ccc;
                    margin-bottom:10px;
                    padding-top:15px;
                }
            .cuadro-container .cuadro-body
            {
                padding:20px;
                
            }
            .ui-datepicker { z-index:1400 !important; }

            .section-sub
            {
              background:#908f9a;
              padding:10px;
            }
            .table-interna>thead>tr>th:first-child, .table-interna>tbody>tr>th:first-child, .table-interna>tfoot>tr>th:first-child, 
            .table-interna>thead>tr>td:first-child, .table-interna>tbody>tr>td:first-child, .table-interna>tfoot>tr>td:first-child
            {
                border-left:none;
            }
            .table-interna>thead>tr>th:last-child, .table-interna>tbody>tr>th:last-child, .table-interna>tfoot>tr>th:last-child, 
            .table-interna>thead>tr>td:last-child, .table-interna>tbody>tr>td:last-child, .table-interna>tfoot>tr>td:last-child
            {
                border-right:none;
            }

            .table>tbody>tr>th, .table>thead>tr>th{
                background-image: -moz-linear-gradient(90deg, #f1f1f1 0%, #e7e7e7 100%); /* ff3.6+ */
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f3f8), color-stop(100%, #fafbfc)); /* safari4+,chrome */
                background-image: -webkit-linear-gradient(90deg, #f1f3f8 0%, #fafbfc 100%); /* safari5.1+,chrome10+ */
                background-image: -o-linear-gradient(90deg, #f1f3f8 0%, #fafbfc 100%); /* opera 11.10+ */
                background-image: -ms-linear-gradient(90deg, #f1f3f8 0%, #fafbfc 100%); /* ie10+ */
                background-image: linear-gradient(0, #efefef 0%, #fdfdfd 100%); /* w3c */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f3f8', endColorstr='#fafbfc',GradientType=0 ); /* ie6-9 */
                border-color:#aaa;
            }


.paginacion table {
  display: inline-block;
  padding-left: 0;
  margin: 5px 0;
  background:#fafbfc;
}
.paginacion table > tbody > tr > td {
    padding:0;
}

.paginacion table > tbody > tr > td > a,
.paginacion table > tbody > tr > td > span {
  position: relative;
  display:block;
  padding: 4px 10px;
  line-height: 1.42857143;
  color: #234e74;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #a3a3a3;
  border-radius:4px;
  margin-right:3px;
  font-weight:bold;
}
.paginacion table > tbody > tr > td > span
{
     background-color: #283f57;
     color: #f0f1f2;
     cursor:default;
     border-color:#234e74;
}

.paginacion table > tbody > tr > td > a:hover,
.paginacion table > tbody > tr > td > a:focus{
  z-index: 3;
  background-color: #e9e7e7;
}

