#wrapperAsignar{width:570px;margin:0 auto;font-family:Calibri;font-size:12px;}

#cabecera{width:570px;float:left;overflow:hidden;padding:10px 0px 10px 0px;background-color:#1E83C4;color:White;font-size:13px;text-align:center;font-weight:400;}
#cabecera .cNombreCorto{width:80px;float:left;}
#cabecera .cPerfil{width:80px;float:left;}
#cabecera .cNombres{width:80px;float:left;}
#cabecera .cApellidoP{width:80px;float:left;}
#cabecera .cSemestre{width:80px;float:left;}
#cabecera .cIntegrantes{width:80px;float:left;}
#cabecera .cLinkEditar{width:80px;float:left;}

                     

#wrapperAsignar .linea{float:left;width:568px;border:1px solid #ccc;border-top:0px;overflow:hidden;padding:10px 0px;}
#wrapperAsignar .linea .cNombreCorto{width:80px;float:left;text-align:center;}
#wrapperAsignar .linea .cPerfil{width:80px;float:left;text-align:center;}
#wrapperAsignar .linea .cNombres{width:80px;float:left;text-align:center;}
#wrapperAsignar .linea .cApellidoP{width:80px;float:left;text-align:center;}
#wrapperAsignar .linea .cSemestre{width:80px;float:left;text-align:center;}
#wrapperAsignar .linea .cIntegrantes{width:100px;float:left;text-align:center;}

#fail{width:700px;margin:0 auto;font-family:Calibri;font-size:12px;text-align:center;padding-top:10%;}
#fail .titulo{width:600px;float:left;font-size:24px;margin-bottom:20px;}