#wrapperAsignar{width:360px;margin:0 auto;font-family:Calibri;font-size:12px;}

#cabecera{width:360px;float:left;overflow:hidden;padding:10px 0px 10px 0px;background-color:#1E83C4;color:White;font-size:13px;text-align:center;font-weight:400;}

#cabecera .cPerfil{width:100px;float:left;}
#cabecera .cNombres{width:100px;float:left;}
#cabecera .cApellido{width:100px;float:left;}
#cabecera .cLinkEditar{width:40px;float:left;}


#wrapperAsignar .linea{float:left;width:358px;border:1px solid #ccc;border-top:0px;overflow:hidden;padding:10px 0px;}

#wrapperAsignar .linea .cPerfil{width:100px;float:left;text-align:center;}
#wrapperAsignar .linea .cNombres{width:100px;float:left;text-align:center;}
#wrapperAsignar .linea .cApellido{width:100px;float:left;text-align:center;}
#wrapperAsignar .linea .cLinkEditar{width:40px;float:left;text-align:center;}