#wrapper{width:800px;margin:0px auto;font-family:Calibri;background : skyblue;}
#wrapper .tituloPrincipal{float:left;overflow:hidden;font-size:24px;width:800px;border-bottom:1px dashed #ccc;margin-bottom:20px;padding-bottom:10px;}
#wrapper .linea{float:left;width:400px;margin-bottom:15px;font-size:12px;}
#wrapper .linea .titulo{float:left;width:100px;text-align:right;margin-right:5px;margin-top:5px;overflow:hidden;}
#wrapper .linea .campo{float:left;width:271px;border:1px solid #ccc;border-radius:5px;margin-left:5px;overflow:hidden;}
#wrapper .linea .campoFecha{float:left;overflow:hidden;margin-top:6px;text-align:center;width:271px;color:Blue;font-weight:700;}
#wrapper .linea .wrapAdjunto{float:left;overflow:hidden;width:271px;}
#wrapper .linea .wrapAdjunto .icon-file{float:right;overflow:hidden;margin-top:7px;}
#wrapper .linea  .wrapAdjunto .lnkAdjunto{float:right;margin-top:5px;text-align:center;}
#wrapper .wrapAutor{float:left;overflow:hidden;width:378px;padding:10px;}
#wrapper .wrapAutor .subTitulo{float:right;overflow:hidden;width:178px;font-size:17px;text-align:right;border-bottom:1px dashed #ccc;padding-bottom:2px;margin-bottom:2px;font-weight:700;letter-spacing:5px;}
#wrapper .wrapAutor .linea{float:left;overflow:hidden;width:378px;text-align:center;margin-bottom:0px;text-align:right;font-size:13px;}
#wrapper .lineaBotones{float:right;overflow:hidden;}
#wrapper .lineaBotones .btnGuardar{margin-right:10px;}

