#wrapperPropuesta{width:800px;margin:0 auto;font-family:Calibri;font-size:12px;}
#wrapperPropuesta .wrapOpciones{width:780px;float:left;overflow:hidden;margin:0 auto;font-family:Calibri;font-size:12px;padding:0px 10px 0px 10px;}
#wrapperPropuesta .wrapOpciones .itemOpcion{width:260px;float:left;overflow:hidden;}
#wrapperPropuesta .wrapContenido{width:780px;float:left;overflow:hidden;margin:0 auto;font-family:Calibri;font-size:12px;padding:0px 10px 0px 10px;}

#wrapperPropuesta .wrapContenido .lineaCabecera{width:780px;float:left;overflow:hidden;background-color:#1E83C4;color:White;font-size:13px;text-align:center;font-weight:700;border-radius:5px 5px 0px 0px;}
#wrapperPropuesta .wrapContenido .lineaCabecera .semestre{width:110px;float:left;overflow:hidden;padding:5px 0px;}
#wrapperPropuesta .wrapContenido .lineaCabecera .nombreCorto{width:110px;float:left;overflow:hidden;padding:5px 0px;}
#wrapperPropuesta .wrapContenido .lineaCabecera .cCodUniversidad{width:110px;float:left;overflow:hidden;padding:5px 0px;}
#wrapperPropuesta .wrapContenido .lineaCabecera .cAutor{width:110px;float:left;overflow:hidden;padding:5px 0px;}
#wrapperPropuesta .wrapContenido .lineaCabecera .cCliente{width:110px;float:left;overflow:hidden;padding:5px 0px;}
#wrapperPropuesta .wrapContenido .lineaCabecera .nEstado{width:110px;float:left;overflow:hidden;padding:5px 0px;}
#wrapperPropuesta .wrapContenido .lineaCabecera .nEstadoNatural{width:110px;float:left;overflow:hidden;padding:5px 0px;}
/*#wrapperPropuesta .wrapContenido .lineaCabecera .cAdjunto{width:97px;float:left;overflow:hidden;padding:5px 0px;}*/

#wrapperPropuesta .wrapContenido .linea{width:778px;float:left;overflow:hidden;border-right:1px solid #ccc;border-left:1px solid #ccc;border-bottom:1px solid #ccc;}
#wrapperPropuesta .wrapContenido .linea .semestre{width:110px;float:left;overflow:hidden;padding:5px 0px;text-align:center;}
#wrapperPropuesta .wrapContenido .linea .nombreCorto{width:110px;float:left;overflow:hidden;padding:5px 0px;text-align:center;}
#wrapperPropuesta .wrapContenido .linea .cCodUniversidad{width:110px;float:left;overflow:hidden;padding:5px 0px;text-align:center;}
#wrapperPropuesta .wrapContenido .linea .cAutor{width:110px;float:left;overflow:hidden;padding:5px 0px;text-align:center;}
#wrapperPropuesta .wrapContenido .linea .cCliente{width:110px;float:left;overflow:hidden;padding:5px 0px;text-align:center;}
#wrapperPropuesta .wrapContenido .linea .nEstado{width:110px;float:left;overflow:hidden;padding:5px 0px;text-align:center;}
#wrapperPropuesta .wrapContenido .linea .nEstadoNatural{width:110px;float:left;overflow:hidden;padding:5px 0px;text-align:center;}
/*#wrapperPropuesta .wrapContenido .linea .cAdjunto{width:110px;float:left;overflow:hidden;padding:5px 0px;text-align:center;}*/
#wrapperPropuesta .wrapContenido .linea:hover{background-color:#ccc;cursor:pointer;}
#wrapperPropuesta .wrapContenido .linea:last-child{border-radius:0px 0px 5px 5px;}





