#wrapperPropuesta{width:720px;margin:0 auto;font-family:Calibri;font-size:12px;}

#cabecera{width:720px;float:left;overflow:hidden;padding:10px 0px 10px 0px;background-color:#1E83C4;color:White;font-size:13px;text-align:center;font-weight:400;}
#cabecera .idProyecto{width:150px;float:left;}
#cabecera .cSemestre{width:80px;float:left;}
#cabecera .cNombreCorto{width:80px;float:left;}
#cabecera .cTitulo{width:100px;float:left;}
#cabecera .cAdjunto{width:120px;float:left;}
#cabecera .cEstadoNatural{width:100px;float:left;}
#cabecera .cLinkEditar{width:40px;float:left;}

#wrapperPropuesta .linea{float:left;width:720px;border:1px solid #ccc;border-top:0px;overflow:hidden;padding:10px 0px;}
#wrapperPropuesta .linea .idProyecto{width:150px;float:left;text-align:center;}
#wrapperPropuesta .linea .cSemestre{width:80px;float:left;text-align:center;}
#wrapperPropuesta .linea .cNombreCorto{width:80px;float:left;text-align:center;}
#wrapperPropuesta .linea .cTitulo{width:100px;float:left;text-align:center;}
#wrapperPropuesta .linea .cAdjunto{width:120px;float:left;text-align:center;}
#wrapperPropuesta .linea .cEstadoNatural{width:100px;float:left;text-align:center;}
#wrapperPropuesta .linea .cLinkEditar{width:40px;float:left;text-align:center;}

#fail{width:700px;margin:0 auto;font-family:Calibri;font-size:12px;text-align:center;padding-top:10%;}
#fail .titulo{width:600px;float:left;font-size:24px;margin-bottom:20px;}

.linea .cursor{cursor:pointer;margin-left:10px;}