#wrapperPropuesta{width:800px;margin:0 auto;font-family:Calibri;font-size:12px;overflow:hidden;}
#wrapperPropuesta .wrapI{width:400px;float:left;overflow:hidden;}
#wrapperPropuesta .wrapI .linea{padding:5px 0px;}
#wrapperPropuesta .wrapI .linea .titulo{float:left;overflow:hidden;text-align:right;width:79px;margin-right:5px;margin-top:5px;}
#wrapperPropuesta .wrapI .linea .campo{float:left;overflow:hidden;width:286px;margin-right:5px;margin-top:5px;}
#wrapperPropuesta .wrapD{width:400px;float:left;overflow:hidden;}
/*
#wrapperPropuesta .linea{width:400px;float:left;overflow:hidden;}
#wrapperPropuesta .linea .titulo{width:80px;float:left;text-align:right;margin-right:5px;margin-top:5px;}
#wrapperPropuesta .linea .campo{width:200px;float:left;margin:5px 0px;}
#wrapperPropuesta .lineaDescripcion{width:200px;float:left;overflow:hidden;}
#wrapperPropuesta .lineaDescripcion .titulo{width:400px;float:left;overflow:hidden;}
#wrapperPropuesta .lineaDescripcion .campo{width:400px;float:left;overflow:hidden;}                                           
*/
#wrapAdjunto{width:400px;float:left;text-align:right;}
#wrapAdjunto .icon-file{float:left;}
#hypAdjunto {float:left;}
