html{height:800px;}
#wrapper{width:800px;margin:0 auto;font-family:Calibri;font-size:12px;overflow:hidden;}
#wrapper .wrapOpciones{float:left;overflow:hidden;width:800px;}
#wrapper .wrapOpciones > span{margin-right:5px;}
#wrapper .wrapResults{float:left;overflow:hidden;width:800px;margin-top:10px;}
#btnGuardar{margin:0px;}
#txtCodUniversidad{margin:0px;}
#txtProyecto{margin:0px;}

#wrapper .wrapResults .wrapperGrupo{float:left;overflow:hidden;width:400px;margin-right:10px;}
#wrapper .wrapResults .wrapperGrupo .tituloGrupos{padding-bottom:10px;border-bottom:1px dashed #ccc;width:400px;font-size:17px;letter-spacing:5px;font-weight:700;margin-bottom:10px;}
#wrapGroup{float:left;overflow:hidden;width:400px;}

#wrapper .wrapResults .wrapperProyecto{float:left;overflow:hidden;width:390px;}
#wrapper .wrapResults .wrapperProyecto .tituloGrupos{padding-bottom:10px;border-bottom:1px dashed #ccc;width:400px;text-align:right;font-size:17px;letter-spacing:5px;font-weight:700;margin-bottom:10px;}
#wrapProyecto{float:left;overflow:hidden;width:400px;}

#wrapGroup{float:left;overflow:hidden;width:400px;}
#wrapGroup > div{float:left;width:280px;overflow:hidden;margin-bottom:10px;}
.icon-remove{float:right;margin-top:3px;opacity:0.5;}
.icon-remove:hover{opacity:1;}

#wrapProyecto{float:left;overflow:hidden;width:380px;font-size:17px;}
#wrapProyecto .titulo{float:left;overflow:hidden;font-weight:700;width:380px;}
#wrapProyecto .cDescripcion{float:left;overflow:hidden;width:380px;margin-bottom:10px;}
#wrapProyecto .cCliente{float:left;overflow:hidden;width:380px;}
#wrapProyecto .cCliente span{font-weight:700;}
#wrapProyecto .cAdjunto{float:left;overflow:hidden;width:380px;}